{% extends 'sort/base.html' %}

{% block content %}

{% load static %}

<main role="main" class="container d-flex justify-content-center">

    <div class="card" style="width: 100%">
        <div class="card-header">
            <h2>Sorteio</h2>
        </div>
        <div class="card-body">
            {% if not nome %}
                <h3 class="card-text mb-5">Selecione seu arquivo no formato XLSX</h3>
            {% endif %}
            {% if nome %}
                <h3 class="card-text mb-5">Parabéns, {{ numero }} - {{ nome }}! Você foi premiado.</h3>
            {% endif %}

            <form action="{% url 'sorteio' %}" method="post" id="form-upload" enctype="multipart/form-data">
                {% csrf_token %}

                {% if not nome %}
                <div class="input-group mb-3">
                    <div class="custom-file">
                        {{ form.file }}
                        <label class="custom-file-label" for="id_file" aria-describedby="inputGroupFileAddon02">Clique aqui para escolher arquivo</label>
                    </div>
                </div>
                <button class="btn btn-info" type="submit">Sortear</button>
                {% endif %}
            </form>

            {% if nome %}
                <a href="javascript:window.location.reload(true)" class="btn btn-info mb-3">Sortear Novamente</a>
                <a href="./" class="btn btn-info mb-3">Carregar novo arquivo</a>
            {% endif %}

        </div>
    </div>

</main><!-- /.container -->
{% endblock %}
